<footer class="footer">
    <div class="center-content">
        <div class="centerbottom">
            Blog - final work © 2023
        </div>
    </div>
</footer>

@*
    A component that is responsible for displaying the content at the bottom of the blog    
*@