<div>
    <p class="headerMenu">
        Categories
    </p>
    <ul>
        <li>
        </li>
        <li>
            <i class="fa fa-arrow-right"></i>
            <NavLink href="Wiadomosci">
                Fashion
            </NavLink>
        </li>
        <li>
            <i class="fa fa-arrow-right"></i>
            <NavLink href="Biznes">
                Biznes
            </NavLink>
        </li>
        <li>
            <i class="fa fa-arrow-right"></i>
            <NavLink href="Nieruchomosci">
                Garden
            </NavLink>
        </li>
        <li>
            <i class="fa fa-arrow-right"></i>
            <NavLink href="Sport">
                Sport
            </NavLink>
        </li>
    </ul>
</div>
<div>
    <p class="headerMenu2">
        Latest news
    </p>
    <ul>
        <li>
            <i class="fa fa-arrow-right"></i>
            <NavLink href="Messages">
                All
            </NavLink>
        </li>
    </ul>
</div>

@*
    Left navigation of the page, there are links here referring to two microservices, one
     "News.Api" and another "PostsComments.Api"
*@